<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<h3>注文情報入力</h3>

 <%= form_with model: @order , url: customers_orders_confirmation_path  do |f| %>

  <div class="field">
   <%= f.label :支払方法 %>
   <%= f.radio_button :payment_method, :true %>
   <%= f.label :payment_method, "クレジットカード", value: :true %>
   <%= f.radio_button :payment_method, :false %>
   <%= f.label :payment_method, "銀行振込", value: :false %>
  </div>

 <%= f.label :お届け先 %>

  <%= "〒" %><%= @customer.postal_code %><%= @customer.address %><%= @customer.last_name %><%= @customer.first_name %>

 <p><%= f.submit "確認画面へ進む" %></p>
 <% end %>
