<h1>商品一覧画面</h1>

<div class="container">
 <div class="row">
     <% @items.each do |item| %>
      <div class="col-2">
       <%= link_to admin_item_path(item.id) do %>
        <%= image_tag item.get_image(100,100), class:"card-img-top"; %>
        <p><%= link_to item.name,admin_item_path(item.id) %></p>
       <% end %>
       ¥<%= item.price %>
      </div>
     <% end %>
  <%= paginate @items %>
 </div>
</div>


