<!--（本社）管理スタッフ用ログインページ-->
<h1>LINEショップ</h1>

  <table>
    <thead>
      <tr>
        <th>問合せ</th>
      </tr>
      <tr>
        　 <th>顧客新規登録</th><td><%=link_to "実行", new_admin_customer_path,class:"btn btn-Primary" %></td>
      </tr>
      <tr>
        　  <th>顧客一覧</th><td><%=link_to "実行",admin_customers_path,class:"btn btn-Primary" %></td>
      </tr>

      <tr>
        　 <th>注文履歴一覧</th><td><%=link_to "実行",admin_orders_path,class:"btn btn-Primary" %></td>
      </tr>

     <tr>
        <th>商品管理</th>
     </tr>
     <tr>
          <th>商品一覧画面</th><td><%=link_to "実行",admin_items_path,class:"btn btn-Primary" %></td>
    </tr>
    <tr>
          <th>商品新規登録</th><td><%=link_to "実行",new_admin_item_path,class:"btn btn-Primary" %></td>
    </tr>

     <tr>
        <th>販売管理</th>
    </tr>
    <tr>
          <th>販売スタッフ登録</th><td><%=link_to "実行", new_admin_user_path,class:"btn btn-Primary" %></td>
    </tr>
    <tr>
          <th>販売スタッフ一覧</th><td><%=link_to "実行",  admin_users_path,class:"btn btn-Primary" %></td>
    </tr>
    <tr>
          <th>ブランド一覧・追加</th><td><%=link_to "実行",admin_genres_path,class:"btn btn-Primary" %></td>
    </tr>



        <!--<th colspan="3"></th>-->
      </thead>

      <tbody></tbody>
    </table>

 </div>
</div>

<%= button_to 'sign_out', destroy_admin_session_path, method: :delete %>


